<!DOCTYPE html>
<html>
<head>
  <title>Dutch Treat: @ViewBag.Title</title>
  <link href="~/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
  <div class="navbar navbar-inverse">
    <header class="container">
      <div class="nabar-header">
        <div class="navbar-brand"><i class="fas fa-paint-brush"></i> Dutch Treat</div>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">&#9776;</button>
      </div>
      <div id="menu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a asp-controller="App" asp-action="Index">Home</a></li>
          <li><a asp-controller="App" asp-action="Shop">Shop</a></li>
          <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
          <li><a asp-controller="App" asp-action="About">About</a></li>
          @if (User.Identity.IsAuthenticated)
          {
            <li><a asp-controller="Account" asp-action="Logout">Logout</a></li>
          }
          else
          {
            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
          }
        </ul>
      </div>
    </header>
  </div>
  <section class="container">
    <h2 class="text-center">@ViewBag.Title</h2>
    @RenderBody()
  </section>
  <footer class="container">
    <div class="text-center">Copyright 2018 DT LLC</div>
  </footer>

  <script src="~/scripts/jquery.min.js"></script>
  <script src="~/scripts/bootstrap.min.js"></script>
  <script src="~/scripts/index.js"></script>
  @RenderSection("scripts", false)
</body>
</html>